:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background: #171b22;
  overflow: hidden;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

.ant-tabs-tab .ant-tabs-tab-remove {
  display: none;
}
.ant-tabs-tab:hover .ant-tabs-tab-remove {
  display: block;
  padding: 0;
}

.card {
  padding: 2em;
}

#app {
  height: 100%;

  width: 100%;
}

.configs-box .form-col {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

.configs-box .form-col .form-label {
  width: 78px;
  text-align: right;
  margin-right: 12px;
  font-size: 12px;
  color: #454545;
  line-height: 32px;
}

.configs-box .form-col .value-col {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}

.configs-box .form-col .value-col .col-lable {
  padding-right: 12px;
  font-size: 13px;
  color: #999;
}

.configs-box .form-col .value-col .col-lable:after {
  content: "：";
}

.wrapper {
  position: relative;
}

.layer .title,
.config-wrapper .title {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 35px;
  height: 35px;
  margin: 0;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  text-indent: 2px;
  background-color: #2d343c;
  color: #fff;
}

.charts {
  width: 100%;
  height: 100%;
}

.tabs .title {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 35px;
  height: 35px;
  margin: 0 0 20px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 2px;
  text-indent: 2px;
  background-color: #2d343c;
  color: #fff;
}

.tabs .el-tabs__header {
  background: #27343e;
  margin: 0 0 2px !important;
}

.tabs .el-tabs__active-bar {
  top: 0;
}

.tabs .el-form-item {
  padding: 0 12px;
}

.tabs .el-form-item--small .el-form-item__content {
  padding-right: 10px;
}

.tabs i {
  color: #bcc9d4;
  font-size: 14px;
}

.tabs .el-tabs__item {
  padding: 0;
}

.tabs .el-tabs__nav-wrap::after {
  background: #27343e;
}

.tabs .el-form-item__label {
  color: #859094;
  padding-left: 20px;
  font-size: 12px;
}

.tabs .el-input-number__increase,
.tabs .el-input-number__decrease {
  background: transparent;
  border: 0 !important;
}

.tabs .el-form-item__label {
  color: #fff;
}

.tabs .el-input__wrapper {
  background-color: #0f1014 !important;
  color: #859094 !important;
  border: 1px solid #282e3a !important;
  box-shadow: none;
}

.tabs .el-dialog__body {
  padding: 10px;
}

.tabs .CodeMirror-wrap pre.CodeMirror-line {
  text-indent: 4em !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}
